* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

canvas {
  border: 1px solid gray;
}

input {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.gap-1 {
  gap: 0.5rem;
}

.border {
  border: 1px solid gray;
}

.p-1 {
  padding: 0.5rem;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 1.5rem;
}

.light, .reflection, .refraction {
  height: 16px;
  width: 16px;

  margin-right: 6px;
}

.light {
  background-color: yellow;
}

.reflection {
  background-color: blue;
}

.refraction {
  background-color: red;
}